<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pjb.mapper.UserInfoMapper">

    <select id="findByUsername" resultType="com.pjb.entity.UserInfo">
        SELECT
            user_info.uid,
            user_info.`name`,
            user_info.`password`,
            user_info.salt,
            user_info.state,
            user_info.username
        FROM
            user_info
        WHERE username=#{username}
    </select>
</mapper>